body {
  text-align: center;
  overflow: hidden;
  margin: auto;
  color: #BFD2FF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 5%, #373b52, #252736, #1d1e26);
}

button {
  background-color: #BFD2FF;
  color: #1d1e26;
  border: none;
  margin: 5px;
  height: 30px;
  width: 50px;
  box-shadow: 3px 3px 2px #aaaaaa;
}

button:hover {
  background-color: #7881A1;
}

button:active {
  transform: translateY(3px);
}

#playAgain {
  height: 30px;
  width: 150px;
}

#isSubmitBtn {
  background-color: transparent;
  box-shadow: none;
  font-size: 1.8rem;
  transform: translateY(0);
  &::-webkit-input-placeholder {
    color: #7881A1;
  }
}

.webflow-style-input button {
  color:  #7881A1;
  transition: color .25s;
  &:hover {
    color: #BFD2FF;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

.webflow-style-input input {
  background-color: transparent;
  border-style: none;
  outline: none;
  flex-grow: 1;
  color: #BFD2FF;
  font-size: 150%;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: #7881A1;
  }
}

#error {
  color: red;
}
